<div class="row">

  <div class="col-md-6 col-xxl-9">
    <div class="font-row font-main">

      <nb-card size="small">
        <nb-card-header>
          Hello World
        </nb-card-header>
        <nb-card-body>
          <h1>This is a Test</h1>
          <h4>Subtitle</h4>
          <p>
            Basic card with a really, really, long test......
          </p>
        </nb-card-body>
        <nb-card-footer>By dersteppenwolf</nb-card-footer>
      </nb-card>
    </div>
  </div>



  <div class="col-md-6 col-xxxl-4">
    <div class="font-row font-main">
      <nb-card size="large" status="success">
        <nb-card-header>
          My Card Header
        </nb-card-header>
        <nb-card-body>
          <h4>Ordered List</h4>
          <p>
            Large Card with status
          </p>
          <ol class="mb-5">
            <li>Far far away, behind the word mountains</li>
            <li>Far from the countries Vokalia and Consonantia</li>
          </ol>

          <h4>Unordered List</h4>
          <ul class="mb-5">
            <li>Far far away, behind the word mountains</li>
            <li>Far from the countries Vokalia and Consonantia</li>
          </ul>
        </nb-card-body>
      </nb-card>
    </div>
  </div>


  <div class="col-md-3 col-xxl-9">
    <div class="font-row font-main">

      <nb-card size="small" accent="info">
        <nb-card-header>
          Hello World
        </nb-card-header>
        <nb-card-body>
          <h1>Test</h1>
          <p>
            Card with accent
          </p>
          <button nbButton status="warning">Warning</button>
        </nb-card-body>
        <nb-card-footer>By dersteppenwolf</nb-card-footer>
      </nb-card>
    </div>
  </div>

</div>